{{- /*
    To avoid upgrade conflicts and facilitate the reference of theme components,
    it's strongly recommended to copy this file from the theme to your project and override it.
  */ -}}
  
  {{- define "custom-head" -}}
  {{- end -}}
  

  {{- define "custom-profile" -}}
    {{- dict "Src" "https://raw.githubusercontent.com/LiuTxxx/LiuTxxx/snake/snake.svg" "Class" "profile-ghchart" "Alt" "Liu's Github chart" "Title" "Liu's Github chart" "Style" "width: 100%;" "Resources" $.Resources | partial "plugin/image.html" -}}
  {{- end -}}

  
  {{- define "custom-aside" -}}
  {{- end -}}
  
  {{- define "custom-footer" -}}
  {{- end -}}
  
  {{- define "custom-widgets" -}}
  {{- end -}}
  
  {{- define "custom-assets" -}}
  {{- end -}}
  